@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float-up {
  0% {
    transform: translateY(100px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.animate-float-up {
  animation: float-up 4s infinite linear;
}