@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float-up {
  0% {
    transform: translateY(100px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
  }
}

@font-face {
  font-family: "Satoshi";
  src: url("assets/font/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf")
    format("truetype");
}

* {
  font-family: "Satoshi";
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
    opacity: 0;
  }
}

.animate-float-up {
  animation: float-up 4s infinite linear;
}
